.banner {
  background-image: url(../images/HeroBg.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-card {
  position: absolute;
  top: 20%;
  left: 50%;
  text-align: center;
  width: 35%;
  background-color: var(--mainWhite);
  color: var(--mainDarkGrey);
  object-fit: contain;
}

.banner-card .logo {
  padding: 30px;
}

.banner-card .title {
  font-family: var(--mainTitleFont);
  font-size: 32px;
  margin: 0 50px;
  font-weight: 600;
}

.banner-card .text {
  font-weight: 700;
  font-family: var(--mainOtherFont);
  padding: 10px;
}

@media all and (max-width: 840px) {
  .banner {
    height: 120vh !important;
  }

  .banner-card {
    width: 80%;
    top: 40%;
    left: 10%;
  }
}
