* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainWhite: #ffffff;
  --mainGrey: #f3f0ec;
  --mainDarkGrey: #858377;
  --mainOtherFont: "Courier New", Courier, monospace;
  --mainTitleFont: "Montserrat", sans-serif;
}

.btn {
  background-color: var(--mainDarkGrey);
  color: var(--mainWhite);
  padding: 13px 50px;
  font-size: 14px;
  transition: 0.3s ease-in;
  letter-spacing: 1.5px;
  margin-top: 35px;
  border: 1px solid var(--mainDarkGrey);
  text-transform: uppercase;
  font-family: var(--mainTitleFont);
  margin-bottom: 65px;
}

.btn:hover {
  background-color: var(--mainWhite);
  color: var(--mainDarkGrey);
  border: 1px solid var(--mainDarkGrey);
}
